<div class="container">
  <app-custom-icon class="container__icon" iconName="CHECK_ICON"></app-custom-icon>
  <app-custom-icon class="container__icon" iconName="X_ICON"></app-custom-icon>
</div>
<div class="container">
  <app-custom-icon class="container__icon container__icon--blue" iconName="CHECK_ICON"></app-custom-icon>
  <app-custom-icon class="container__icon container__icon--orange" iconName="X_ICON"></app-custom-icon>
</div>
<div class="container container--green">
  <app-custom-icon class="container__icon" iconName="CHECK_ICON"></app-custom-icon>
  <app-custom-icon class="container__icon" iconName="X_ICON"></app-custom-icon>
</div>
<div class="container container--primary-color">
  <app-custom-icon class="container__icon" iconName="CHECK_ICON"></app-custom-icon>
  <app-custom-icon class="container__icon" iconName="X_ICON"></app-custom-icon>
</div>
